<!DOCTYPE html>
<html>
<head>
	<title>AI-Based UI</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
		}
		button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: #4CAF50;
			color: #fff;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin: 10px;
		}
		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>AI-Based UI </h1>
	<button onclick="window.location.href='/ai_mouse'">AI Mouse</button>
	<button onclick="window.location.href='/ai_keyboard'">AI Keyboard</button>
	<button onclick="window.location.href='/ai_char_ui'">AI Character-Based UI</button>
	<button onclick="window.location.href='/modify'">Modify</button>
	<button onclick="window.location.href='/voice_ui'">Voice-Based UI</button>
	<button onclick="window.location.href='/voice_control'">Voice Control</button>
</body>
</html>
